.navbar {
  background-color: rgba(0, 0, 0, 0.938);
  overflow: hidden;
  bottom: 0;
  max-height: 45px;
  width: 100%;
}


ul {
  margin-top: -7px;
}

/* Style the links inside the navigation bar */

#footerContainer a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  text-decoration: none;
  text-decoration: none;
  color: darkgrey;
}

.navbarmail {
  position: absolute;
  right: 42%;
  font-size: 15px;
}

/* Add a green background color to the active link */
.navbar a.active {
  background-color: #04aa6d;
  color: white;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}

/* FOOTER STYLES */
#footerContainer {
  background-color: rgba(0, 0, 0, 0.938);
  overflow: hidden;
  max-height: 45px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* FOOTER STYLES */