<div class= "navbar">
    <ul>
      <a href="https://www.linkedin.com/in/milagros-pecar-ba54447b/" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.facebook.com/milipecar/" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/milipecar/" target="_blank"><i class="fa fa-instagram"></i></a>
     </ul>
      <a class= "navbarmail" href="mailto:milagrospecar@gmail.com?subject= Contacto a través de la página">contacto@fitnessgym.com</a>
    
    </div>