<div class="navbar">
  <ul>
    <a href="https://www.linkedin.com/company/fitness-gym-care" target="_blank"
      ><i class="fa fa-linkedin"></i
    ></a>
    <a href="https://es-la.facebook.com/fitness.gym.page/" target="_blank"
      ><i class="fa fa-facebook"></i
    ></a>
    <a href="https://www.instagram.com/fitnessgym.resistencia/" target="_blank"
      ><i class="fa fa-instagram"></i
    ></a>
  </ul>
  <a
    class="navbarmail"
    href="mailto:milagrospecar@gmail.com?subject= Contacto a través de la página"
    >contacto@fitnessgym.com</a
  >
</div>
