<div class="form-popup" >
    <form (ngSubmit)="checkAuth()">
      <div class="form-group">
        <label for="email">Email:</label><br>
        <input type="email" id="email" placeholder="Ingrese su email..." name="email" [(ngModel)]="user.email" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" placeholder="Ingrese su password..." name="password" [(ngModel)]="user.password" required>
      </div>
      <button class="open-button" type="submit">Ingresar</button>
      <!--Se agrego esto-->
      <p>¿No tienes una cuenta? <a (click)="navigateToRegister()">Regístrate aquí</a></p>
    </form>
</div>

