<header>
  <app-nav-bar [isUser]="true"></app-nav-bar>
</header>

<!--se agrego el app view ejercicios-->
<app-view-ejercicios></app-view-ejercicios>


<!-- Se comento el body del home component
<div>
  <table>
    <thead>
      <tr>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sabado</th>
        <th>Domingo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>rutina</td>
        <td>rutina</td>
        <td>rutina</td>
        <td>rutina</td>
        <td>rutina</td>
        <td>rutina</td>
        <td>rutina</td>
        <td>rutina</td>
      </tr>
    </tbody>
  </table>
</div>
-->
<!--footer-->
<app-footer style="position: absolute; bottom: 0; width: 100%;"></app-footer>
