/* CARD STYLES */
  .example-card {
    max-width: 100%;

  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  #cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* HEART STYLE */ 
  .heart-button {
    cursor: pointer;
    border: none;
    padding: 0;
    color: white;
    background-color: #d7d7d7;
  }
  
  .heart-button:active {
    background-color: #d7d7d7;
    color: red;
  }

  .heart-button:focus{
    outline: 0;
  }

  .heart-button.clicked {
    background-color: #d7d7d7;
    color: red;
  }
/* CARD STYLES */

/* LIST STYLES */
  ul {
    list-style-type: none;
  }
  /* LIST STYLES */


