<div>
<h2 id="title-class">Ejercicios</h2>
  <div id="cardsContainer">
   <ul *ngFor="let excercise of excercises" style="max-width: 20%; margin-right: 1%;">
    <li>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{excercise.excercise}} 
          <button class="heart-button" (click)="onLikeClick()"> <i class="fas fa-heart"></i> </button>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{excercise.imageURL}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p> {{excercise.description}} </p>
        </mat-card-content>
      </mat-card>
    </li>
   </ul>
  </div>
</div>