<div>
    <h2>Plan semanal</h2>
    <table class="my-table">
      <thead>
        <tr>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miercoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
          <th>Sabado</th>
        </tr>
      </thead>
      <tbody>
       <!-- <tr *ngFor="let person of inputPersons">
          <td>{{ person.id }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.lastname }}</td>
          <td>{{ person.dni }}</td>
          <td>{{ person.city }}</td>
          <td><button class="delete-button" (click)="deletePerson(person.id!)">X</button></td>
          <td><button class="edit-button" (click)="editPerson(person)">E</button></td>
        </tr> -->
      </tbody>
    </table>
  </div>