/* Banner */

#banner {
  position: relative;
  margin-top: 50px;
  max-height: 600px;
  overflow: hidden;
}

#banner img {
  width: 100%;
  height: 90%;
}

#banner .contenedor {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
}

#banner h2 {
  font-size: 50px;
}

#banner p {
  font-size: 28px;
  color: black;
}

#banner a {
  width: 100px;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  margin-top: 10px;
  border: 2px solid #fff;
  text-align: center;
}

#banner a:hover {
  background-color: rgba(51, 51, 51, 0.3);
}

/*Services*/

#services .contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(51, 51, 51, 0.1);
  width: 100%;
  height: 250px;
}

#services article {
  margin: 40px;
  padding: 0px 20px;
}

#services article:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;
  opacity: 90%;
}

#services img {
  width: 100%;
  max-height: 130px;
  overflow: hidden;
  border-radius: 3px;
  margin-top: 25px;
}

#services h4 {
  text-align: center;
  font-size: 15px;
  color: black;
  font-family: Helvetica;
}

/*Slider*/

.carousel-item {
  position: relative;
  max-height: 370px;
}

.carousel-indicators {
  margin-bottom: 20px;
}

/*Form*/

.open-button {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2af507;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  bottom: 100px;
  width: 105px;
  font-size: 15px;
}

.open-button:hover {
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
}

.form-popup {
  position: fixed;
  left: 120px;
  bottom: 0px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  height: 300px;
  width: 300px;
  background-color: rgba(51, 51, 51, 0.9);
  padding: 50px 50px;
}

.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.8);
  height: 380px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 13px;
  margin: 5px 0 20px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #39ff14;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
  margin: 0px 0px 10px 0px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: rgba(51, 51, 51, 0.9);
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
