
.icon-globe:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-trophy-1:before { content: '\e802'; } /* '' */
.icon-trophy:before { content: '\f074'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
