<header>
<div class="contenedor">

    <a href=""> <h1>FITNESS GIM</h1></a>
    
    <input type= "checkbox" id= "menu-bar">
    <label class= "icon-menu" for="menu-bar"></label>
    

    <nav class="menu">

    <a href="simple_file.html#about">Acerca de</a>
    <a href="file:///C:/Users/Milagros/Desktop/TP%20Labo/servicios.html">Servicios</a>
      <a href ="file:///C:/Users/Milagros/Desktop/TP%20Labo/formulario.html">Contacto</a>
      <a href="#Cuenta">Tu cuenta</a>

    </nav>

<ul class="icon-basket">
<i class="fa-solid fa-user"></i>
</ul>

</div>
</header>