<header>
  <div *ngIf="!isUser" class="contenedor">
    <a href="">
      <h1>FITNESS GYM</h1>
    </a>
    <input type="checkbox" id="menu-bar">
    <label class="fa fa-bars" for="menu-bar"></label>
    <nav class="menu">
      <a (click)="aboutUs()">Nosotros</a>
      <a (click)="services()">Servicios</a>
      <a (click)="contact()">Contacto</a>
    </nav>
  </div>

  <!-- Nav Bar User loggeado-->
  <div *ngIf="isUser" class="contenedor">
    <a href=""> <h1>FITNESS GIM</h1> </a>
    <a href=""> <h1>FITNESS GYM</h1> </a>
    <div class="menu-user">
      <a *ngIf="isFavourite" (click)="navigateToFavourite()">Tus Favoritos</a>
      <a *ngIf="goBack" (click)="navigateToHome()">Volver</a>
      <a (click)="navigateToLanding()">Salir</a>
    </div>
  </div>
</header>