<div>
    <h2 class="custom-dialog-title">Registrarse</h2>
    <form autocomplete="off" class="register-form" (ngSubmit)="createUser()">
  
      <div class="form-field">
        <label for="email">Email:</label>
        <br>
        <input type="text" placeholder = "Ingrese su Email..." id="email" name="email" [(ngModel)]="newUser.email" required>
      </div>
      
      <div class="form-field">
        <label for="password">Password:</label>      
        <br>
        <input type="password" placeholder = "Ingrese su password..." id="password" name="password" [(ngModel)]="newUser.password" required>
      </div>
  
      <button type="submit" class="register-button">Registrarse</button>
    </form>
  </div>